<h2>{{'LANGUAGE.TITLE'|translate}}</h2>
<label for="langName">{{'LANGUAGE.NAME'|translate}}:
        <input type="text" id="langName" readonly [value]="lang()?.name">
    </label><br><br>

    <label for="numberOfNative">{{'LANGUAGE.NUMBER_OF_COUNTRY'|translate}}:
        <input type="number" id="numberOfNative" readonly [value]="lang()?.numberOfNativeCountry">
    </label><br><br>

<table>
    <tr>
        <th>ID</th>
        <th>{{'EMPLOYEE.FIRSTNAME'|translate}}</th>
        <th>{{'LANGUAGE_LEVEL.NAME'|translate}}</th>
    </tr>
    @for(emp of lang()?.employees; track emp.id){
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstname}}</td>
            <td>{{emp.language_level}}</td>
        </tr>
    }
</table>
<a routerLink="/admin">{{'EMPLOYEE.MAIN'|translate}}</a>