main{
    display: flex;
    justify-content: center;
    align-items: center;
}

app-header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

app-footer{
    position: relative;
    bottom: 0;
    right: 0;
}