<div>
    <label for="id">ID:
        <input type="number" id="id" readonly [placeholder]="emp()?.id">
    </label><br><br>

    <label for="firstname">Firstname:
        <input type="text" id="firstname" readonly [placeholder]="emp()?.firstname">
    </label><br><br>

    <label for="lastname">Lastname:
        <input type="text" id="lastname" readonly [placeholder]="emp()?.lastname">
    </label><br><br>

    <label for="email">Email:
        <input type="email" id="email" readonly [placeholder]="emp()?.email">
    </label><br><br>

    <label for="password">Password:
        <input type="text" id="password" readonly [placeholder]="emp()?.password">
    </label><br><br>

    <label for="hire_date">HireDate:
        <input type="date" id="hire_date" readonly [placeholder]="emp()?.hireDate">
    </label><br><br>

    <label for="salary">Salary:
        <input type="number" id="salary" readonly [placeholder]="emp()?.salary">
    </label><br><br>

    <label for="department_id">Department ID:
        <input type="number" id="department_id" readonly [placeholder]="emp()?.department_id">
    </label><br><br>

    <label for="role_id">Role ID:
        <input type="number" id="role_id" readonly [placeholder]="emp()?.role_id">
    </label><br><br>
</div>