<div>
    <label for="id">ID:
        <input type="number" id="id" readonly [value]="emp()?.id">
    </label><br><br>

    <label for="firstname">Firstname:
        <input type="text" id="firstname" readonly [value]="emp()?.firstname">
    </label><br><br>

    <label for="lastname">Lastname:
        <input type="text" id="lastname" readonly [value]="emp()?.lastname">
    </label><br><br>

    <label for="email">Email:
        <input type="email" id="email" readonly [value]="emp()?.email">
    </label><br><br>

    <label for="hire_date">HireDate:
        <input type="date" id="hire_date" readonly [value]="emp()?.hireDate">
    </label><br><br>

    <label for="salary">Salary:
        <input type="number" id="salary" readonly [value]="emp()?.salary">
    </label><br><br>

    <label for="department_id">Department ID:
        <input type="number" id="department_id" readonly [value]="emp()?.department_id">
    </label><br><br>

    <label for="role_id">Role ID:
        <input type="number" id="role_id" readonly [value]="emp()?.role_id">
    </label><br><br>
</div>