<table>
    <tr>
        <th>ID</th>
        <th>{{'EMPLOYEE.FIRSTNAME'|translate}}</th>
        <th></th>
    </tr>
    @for(emp of deptEmployees(); track emp.id){
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstname}}</td>

            <td>
                <button type="button" (click)="onViewDetail(emp.id)">{{'EMPLOYEE.VIEW_DETAIL'|translate}}</button>
            </td>
        </tr>
    }
</table>

<button type="button" (click)="onRegister()">{{'MANAGER.REGISTER'|translate}}</button><br>
<a routerLink="/emp">{{'EMPLOYEE.PERSONAL'|translate}}</a>
<button type="button" (click)="onLogout()">{{'EMPLOYEE.LOGOUT'|translate}}</button><br>





