<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th></th>
    </tr>
    @for(emp of deptEmployees(); track emp.id){
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstname}}</td>

            <td>
                <button type="button" (click)="onViewDetail(emp.id)">view detail</button>
            </td>
        </tr>
    }
</table>

@if(selectedEmpId()){
    <app-emp-detail [empId]="selectedEmpId()!" [depts]="depts()"/>
}

<app-new-emp [depts]="depts()"></app-new-emp>
