<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th></th>
    </tr>
    @for(emp of deptEmployees(); track emp.id){
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstname}}</td>

            <td>
                <button type="button" (click)="onViewDetail(emp.id)">view detail</button>
            </td>
        </tr>
    }
</table>

<button type="button" (click)="onRegister()">register</button><br>
<a routerLink="/emp">Personal Info</a>
<button type="button" (click)="onLogout()">logout</button><br>





