<div>
    <form (ngSubmit)="onUpdate()">
    <label for="id">ID:
        <input type="number" id="id" [value]="emp()?.id" required>
    </label><br><br>

    <label for="firstname">Firstname:
        <input type="text" id="firstname" [value]="emp()?.firstname" required>
    </label><br><br>

    <label for="lastname">Lastname:
        <input type="text" id="lastname" [value]="emp()?.lastname" required>
    </label><br><br>

    <label for="email">Email:
        <input type="email" id="email" [value]="emp()?.email" required>
    </label><br><br>

    <label for="hire_date">HireDate:
        <input type="date" id="hire_date" [value]="emp()?.hireDate" readonly>
    </label><br><br>

    <label for="salary">Salary:
        <input type="number" id="salary" [value]="emp()?.salary" required>
    </label><br><br>

    <select>
        @for(dept of depts(); track dept){
            @if(dept===emp()?.department){
                <option value="dept" selected>{{dept}}</option>
            }@else{
                <option value="dept">{{dept}}</option>
            }
        }
    </select>

    <label for="role">Role:
        <input type="text" id="role" [value]="emp()?.role" readonly>
    </label><br><br>

    @for(nationality of emp()?.nationalities; track nationality.nationality){
        <form (ngSubmit)="onSubmitNationality()">
            <label for="nationality">Nationality:
                <input type="text" id="nationality" [value]="nationality.nationality">
            </label><br><br>

            <label for="region">Region:
                <input type="text" id="region" [value]="nationality.region">
            </label><br><br>

            <button type="submit" (click)="mode='delete'">delete nationality</button>
        </form>
    }

    
    <button type="submit">Update</button>
    </form>
    <button type="button" (click)="onDelete()">Delete</button>
</div>