<h2>{{'ADMIN.'+content()?.table|translate}}</h2>
<table>
    <tr>
        <th>ID</th>
        <th>{{'ADMIN.CONTENT_NAME'|translate}}</th>
        <th></th>
    </tr>
    @for(value of content()?.data; track value.id; let i=$index){
    <tr>
        <td>{{value.id}}</td>
        <td>{{value.name}}</td>

        <td>
            <form>
                <button type="button" (click)="onViewDetail(i)">{{'EMPLOYEE.VIEW_DETAIL'|translate}}</button>
            </form>
        </td>
    </tr>
    }
</table>

<button (click)="onPrev()" [disabled]="currentPage===0">{{'ADMIN.PREV'|translate}}</button>
<button (click)="onNext()" [disabled]="currentPage===contents().length-1">{{'ADMIN.NEXT'|translate}}</button>
<a routerLink="/emp">{{'EMPLOYEE.PERSONAL'|translate}}</a>
<button type="button" (click)="onLogout()">{{'EMPLOYEE.LOGOUT'|translate}}</button><br>