/* You can add global styles to this file, and also import other style files */
table,tr{
    border-collapse: collapse;
    border: solid;
    color: black;
}

th,td{
    padding: 5px;
}

p{
    color: red;
}