<h2>{{'LANGUAGE_LEVEL.TITLE'|translate}}</h2>
<label for="langLevel">{{'LANGUAGE_LEVEL.NAME'|translate}}:
        <input type="text" id="langLevel" readonly [value]="langLevel()?.name">
    </label><br><br>

<table>
    <tr>
        <th>ID</th>
        <th>{{'EMPLOYEE.FIRSTNAME'|translate}}</th>
        <th>{{'LANGUAGE.NAME'|translate}}</th>
    </tr>
    @for(emp of langLevel()?.employees; track emp.id){
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstname}}</td>
            <td>{{emp.language}}</td>
        </tr>
    }
</table>
<a routerLink="/admin">{{'EMPLOYEE.MAIN'|translate}}</a>