<h2>{{'LOGIN.TITLE'|translate}}</h2>
<form (ngSubmit)="onLogin()">
    <label for="email">{{'LOGIN.EMAIL'|translate}}: 
      <input type="text" id="email" name="email" [(ngModel)]="email">
    </label><br><br>
    <label for="password">{{'LOGIN.PASSWORD'|translate}}: 
      <input type="password" id="password" name="passeord" [(ngModel)]="password">
    </label><br><br>
    @if(errorMessage()){
      <p>{{'LOGIN.ERROR'|translate}}</p>
    }
    <button type="submit">{{'LOGIN.LOGIN'|translate}}</button>
</form>
