<div>
    <h2>{{'DEPARTMENT.TITLE'|translate}}</h2>
    <label for="id">ID:
        <input type="number" id="id" readonly [value]="dept()?.id">
    </label><br><br>

    <label for="deptName">{{'DEPARTMENT.NAME'|translate}}:
        <input type="text" id="deptName" readonly [value]="dept()?.name">
    </label><br><br>

    <label for="min-salary">{{'DEPARTMENT.MIN'|translate}}:
        <input type="number" id="min-salary" readonly [value]="dept()?.minSal">
    </label><br><br>

    <h3>{{'DEPARTMENT.EMPLOYEE'|translate}}</h3>
        <form [formGroup]="managerSelectForm" (ngSubmit)="onChangeManager()">
            <table>
            <tr>
                <th>ID</th>
                <th>{{'EMPLOYEE.FIRSTNAME'|translate}}</th>
                <th>{{'DEPARTMENT.MANAGER'|translate}}</th>
            </tr>
            @for(emp of dept()?.employees; track emp.id){

                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.firstname}}</td>

                    <td>
                        <label>
                            <input type="radio" formControlName="managerId" [value]="emp.id">
                        </label>
                    </td>
                </tr>
            }
            </table>
            <button type="submit">{{'ADMIN.CHANGE_MANAGER'|translate}}</button>
    </form>
    <a routerLink="/admin">{{'EMPLOYEE.MAIN'|translate}}</a>
</div>