<form (ngSubmit)="onRegister()">
    <label for="firstname">Firstname:
        <input type="text" id="firstname">
    </label><br><br>

    <label for="lastname">Lastname:
        <input type="text" id="lastname">
    </label><br><br>

    <label for="email">Email:
        <input type="email" id="email">
    </label><br><br>

    <label for="salary">Salary:
        <input type="number" id="salary">
    </label><br><br>

    <label>Department:
    <select>
        @for(dept of depts(); track dept){
            <option value="dept">{{dept}}</option>
        }
    </select><br><br>
    </label>

    <label>Language: 
    <select>
        @for(language of languages(); track language){
            <option value="language">{{language}}</option>
        }
    </select><br><br>
    </label>

    <label for="level">Level:
        <input type="text" id="level">
    </label><br><br>

    <button type="submit">register</button>
</form>