<form (ngSubmit)="onRegister()" [formGroup]="newEmpForm">
    <label for="firstname">Firstname:
        <input type="text" id="firstname" formControlName="firstname" required>
    </label><br><br>
    @if(firstname?.invalid && (firstname?.dirty || firstname?.touched)){
        @if(firstname?.hasError('required')){
            <p>Firstname is required</p>
        }
        @if(firstname?.hasError('serverValidationError')){
            <p>{{newEmpForm.get('firstname')?.errors?.['serverValidationError']}}</p>
        }
    }
    
    <label for="lastname">Lastname:
        <input type="text" id="lastname" formControlName="lastname" required>
    </label><br><br>
    @if(lastname?.invalid && (lastname?.dirty || lastname?.touched)){
        @if(lastname?.hasError('required')){
            <p>Lastname is required</p>
        }
        @if(lastname?.hasError('serverValidationError')){
            <p>{{newEmpForm.get('lastname')?.errors?.['serverValidationError']}}</p>
        }
    }

    <label for="email">Email:
        <input type="email" id="email" formControlName="email" required>
    </label><br><br>
    @if(email?.invalid && (email?.dirty || email?.touched)){
        @if(email?.hasError('required')){
            <p>Email is required</p>
        }
        @if(email?.hasError('pattern')){
            <p>Invalid email</p>
        }
        <!--custom unieque-->
        @if(email?.hasError('isUniqueEmail')){
            <p>This email is already used</p>
        }
        @if(email?.hasError('serverValidationError')){
            <p>{{newEmpForm.get('email')?.errors?.['serverValidationError']}}</p>
        }
    }

    <label for="salary">Salary:
        <input type="number" id="salary" formControlName="salary" required>
    </label><br><br>
    @if(salary?.invalid && (salary?.dirty || salary?.touched)){
        @if(salary?.hasError('required')){
            <p>Salary is required</p>
        }
        <!--custom min-->
        @if(salary?.hasError('min')){
            <p>Minimum salary is {{minSalary}}</p>
        }
        @if(salary?.hasError('serverValidationError')){
            <p>{{newEmpForm.get('salary')?.errors?.['serverValidationError']}}</p>
        }
    }

    <div formArrayName="selectedLanguages">
        @for(selectedLanguage of selectedLanguages.controls; track $index; let i=$index){
            <div [formGroupName]="i"> 
                <label>Language: 
                    <select formControlName="language_name">
                        @for(language of availableLanguages(); track language){
                            @if(!isSelectedLanguage(language,i)){
                                <option [value]="language">{{language}}</option>
                            }
                        }
                    </select><br><br>
                    @if(selectedLanguage.get('language_name')?.invalid &&
                        (selectedLanguage.get('language_name')?.dirty || selectedLanguage.get('language_name')?.touched)
                        ){
                        @if(selectedLanguage.get('language_name')?.hasError('required')){
                            <p>select language</p>
                        }
                        @if(selectedLanguage.get('language_name')?.hasError('serverValidationError')){
                            <p>{{selectedLanguage.get('language_name')?.errors?.['serverValidationError']}}</p>
                        }
                    }
                </label>

                <label for="level">Level:
                    <select formControlName="language_level">
                        @for(languageLevel of languageLevels(); track languageLevel){
                            <option [value]="languageLevel">{{languageLevel}}</option>
                        }
                    </select><br><br>
                </label><br><br>

                @if(selectedLanguage.get('language_level')?.invalid &&
                    (selectedLanguage.get('language_level')?.dirty || selectedLanguage.get('language_level')?.touched)
                    ){
                    @if(selectedLanguage.get('language_level')?.hasError('required')){
                        <p>Enter your level of language</p>
                    }
                    @if(selectedLanguage.get('language_level')?.hasError('serverValidationError')){
                        <p>{{selectedLanguage.get('language_level')?.errors?.['serverValidationError']}}</p>
                    }
                }

                 

                @if(selectedLanguage?.hasError('duplicate')){
                    <p>You can't select same language</p>
                }
            </div>
            @if(selectedLanguages.length>1 && i!==0){
                    <button type="button" (click)="removeSelectedLanguage(i)">remove language</button>
            } 
        }
        

        @if(!isSelectedAll()){
            <button type="button" (click)="addSelectedLanguage()" [disabled]="!isValidLanguageForm()">add language</button>
        }

    </div>

    <button type="submit">register</button>
    <a routerLink="/manager">main</a>
</form>